*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 150px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.inner{
    background-color: orange;
    height: 100%;

}
 .static{
    position: static;
}
.relative .inner{
    position: relative;
    left: 40px;
    top: 70px;

}
.absolute{
    position: relative;
}
.absolute .inner{
    position: absolute;
    width: 100%;
    bottom: 30px;
}
.fixed .inner{
    position:fixed;
    top:100px;
    right: 30px;
    height: 100px;
} 
