* {
    margin: 0;
    padding: 0;
    border-radius: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color:rgb(84, 136, 182)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 3rem;
    gap: 10px;
    background-color: rgb(87, 160, 154);
}

.para {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    background-color: rgb(162, 177, 190);
    padding-left: 2rem;
    padding-right: 2rem;
    padding: 20px;
}

.option {

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    
}

button {
    border-radius:20px ;
    height:50px ;
    width:100px ;
    
}


 .next {
    position: relative;
    top: 30px;
    left: 100px;
    background-color: pink;
 }

 .score{
    display: none;
 }