* {
    font-family: "Poppins", sans-serif;

}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    background: rgb(194, 119, 176);
    padding: 2rem;
    width: 500px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

}


input,
#city {
    border: 1.8px solid;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    font-size: 15px;

}
.gender{
    width:30%;
    height: 30%;
}


button {
    background-color: #226781;
    color: white;
    padding: 0.6rem;
    border: none;
    border-radius: 8px;

    font-weight: 500;

}



.btn {
    display: flex;
    justify-content: center;
}

label {
    font-weight: 500;
    color: black;
}